.Section-1 {
    background-color: aliceblue;
    padding-top: auto;
    margin: auto;
    border-radius: 10px;
    display: inline-block;
}
.section-2 {
    background-color: wheat;

    margin-top: 50px;
    border-radius: 10px;
    display: inline-block;
}
